[submodule "vm-mesh"]
	path = vm-mesh
	url = git@github.com:VaultSovereign/vm-mesh.git
[submodule "vm-forge"]
	path = vm-forge
	url = git@github.com:VaultSovereign/vm-forge.git
[submodule "vm-ops"]
	path = vm-ops
	url = git@github.com:VaultSovereign/ops.git
[submodule "vm-infra-dns"]
	path = vm-infra-dns
	url = git@github.com:VaultSovereign/vm-infra-dns.git
[submodule "vm-infra-srv"]
	path = vm-infra-srv
	url = git@github.com:VaultSovereign/vm-infra-srv.git
[submodule "vm-meta"]
	path = vm-meta
	url = git@github.com:VaultSovereign/meta.git
[submodule "vm-cmd"]
	path = vm-cmd
	url = git@github.com:VaultSovereign/vm-cmd.git
